{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/exec", {
      "prepareCmd": "npx ts-node scripts/bump-manifest.ts ${nextRelease.version} && npm run pack"
    }],
    ["@semantic-release/github", {
      "assets": ["*.midiMixerPlugin"]
      }],
    ["@semantic-release/git", {
      "assets": ["package.json", "package-lock.json"]
    }]
  ]
}
